
{% extends 'base.html.twig' %}

{% block title %}Hello StaticController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>{{ controller_name }}</h1>

    Voici les fonctionnalités du site :
    <ul>
        <li><a href="admin\user">User CRUD</a></li>
        <li><a href="admin\article">Article CRUD</a></li>
        <li><a href="admin\comment">Comment CRUD</a></li>
        <li><a href="admin\category">Category CRUD</a></li>
    </ul>
</div>
{% endblock %}
