.header {
    width: 100%;
    display: flex;
    height: 80px;
    position: fixed;
    min-width: 375px;
    padding: 8px 16px;
    border-bottom: 0.5px solid;
    background: var(--secondaire);
    justify-content: space-between;
    z-index: 10;

    &__logo {
        padding: 8px;

        &__img {
            width: 113px;
            height: 43.626px;
            flex-shrink: 0;
        }
    }

    &__nav {
        background: var(--secondaire);
        border-left: solid .5px var(--primaire);
        position: absolute;
        top: 0px;
        right: 0px;
        height: 100vh;
        width: 168px;
        margin: 0;
        gap: 24px;
        display: none;
        flex-direction: column;
        padding: 80px 16px;

        &.open {
            display: flex;
        }

        &__links {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }

        &__link {
            width: fit-content;
            padding: 2px 4px;

            &:hover {
                background: var(--t500);
            }
        }

        a {
            gap: 16px;
            font-size: 16px;
            line-height: 0%;
        }

    }

    &__icon {
        cursor: pointer;
        z-index: 2;
        position: absolute;
        top: 16px;
        right: 16px;
        width: 48px;
        height: 48px;

        &.open {
            display: none;
            background: #000;
        }
    }
}

.desktop--header__nav {
    display: none;
}

#menuToggle {
    display: none;
}

@media screen and (min-width: 655px) {
    .header {
        height: 88px;
        padding: 8px 6.25vw;

        &__icon {
            display: none;
        }
    }

    nav.header__nav.open {
        display: none;
    }

    .desktop--header__nav {
        display: flex;
        gap: 3.90625vw;
        align-items: center;

        &__links {
            display: flex;
            justify-self: center;
            align-items: center;
            gap: 16px;
        }

        &__link {
            width: fit-content;
            padding: 2px 4px;

            &:hover {
                background: var(--t500);
            }
        }

        a {
            gap: 16px;
            font-size: 16px;
            line-height: 0%;
        }
    }
}