.champ {
    display: flex;
    flex-direction: column;

    label {
        margin-bottom: 4px;
    }

    &__input {
        padding: 8px;
        background: var(--secondaire);
        color: var(--primaire);
        border: 1px solid var(--primaire);
        height: fit-content;
        min-height: 48px;
        min-width: 100%;
        font-family: "Visuelt Pro";
        font-size: 14px;

        &::placeholder {
            color: var(--t900);
            font-size: 14px;
        }

        &[type="password"] {
            font-size: 24px;
        }
    }

    &--error {
        color: var(--e500);
        margin-top: 4px;
        font-size: 14px;
    }
}