.offre {
    &__text {
        padding: 48px 16px 56px 16px;

        & h2 {
            line-height: 110%;
            margin-bottom: 16px;
            letter-spacing: -0.57px;
        }

        & p {
            text-align: justify;
            font-weight: 400;
            line-height: 175%;
            letter-spacing: -0.304px;
        }
    }

    &__img {
        display: flex;
        justify-content: center;
        width: auto;

        &--desktop {
            display: none;
        }

        & img {

            width: 375px;
            height: 275px;
        }
    }
}

.card {
    border: solid 1px var(--primaire);
    padding: 16px;
    width: 320px;

    &:hover {
        box-shadow: 8px 8px var(--primaire);
    }

    &__title {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 8px;
    }

    &__tags {
        display: flex;
        align-items: baseline;
        gap: 8px;
        flex-wrap: wrap;
    }

    &__tag {
        background: var(--t500);
        display: flex;
        padding: 4px 8px 0 8px;
        box-shadow: 2px 2px var(--primaire);

        p {
            line-height: auto;
        }
    }

    &__description {
        margin-top: 8px;
    }

    &__cta {
        margin: 16px 0;
        text-decoration: underline;
    }
}

.offres {
    display: flex;
    justify-content: center;
    width: auto;
    padding: 80px 16px;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;

        & h2 {
            margin-bottom: 32px;
        }
    }

    &__cards {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
}

@media screen and (min-width: 650px) {
    .offres__cards {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }
}

@media screen and (min-width: 1100px) {
    .offre {
        padding: 48px 6.25vw;
        display: flex;
        gap: 6.25vw;
        flex-direction: row;

        &__text {
            padding: 0;
        }

        &__img {
            display: none;

            &--desktop {
                display: block;
            }
        }
    }
}