{% extends 'base.html.twig' %}

{% block title %}Article index
{% endblock %}

{% block body %}
	<div class="show">
		<h1>Tous les articles</h1>
		<p>Une liste de
			<strong>{{articles|length}}
				article•s</strong>
			actuellement existants, triée par ordre alphabétique. Chaque article est consultable en un clique.</p>

		<div class="show__container">
			{% for article in articles %}
				<a href="{{ path('app_article_show', {'id': article.id}) }}" class="show__item">
					<div>
						<p>
							<strong>{{ article.title }}</strong>
						</p>
					</div>
					<div>
						<p>{{ article.userId}}</p>
					</div>
				</a>
			{% else %}
				<p>Aucun résultat trouvé</p>
			{% endfor %}
		</div>
	</div>

{% endblock %}
